{% extends 'base.html' %}
{% block title %}
	Edit {{ thing.name }} - {{ block.super }}
{% endblock title %}
{% block content %}
	<h1>Edit {{ thing.name }}</h1>
	<form role="form" action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
	<h2>Uploaded images</h2>
	<p>
		<a href="{% url 'edit_thing_uploads' slug=thing.slug %}">
			Edit images
		</a>
	</p>
	{% for upload in uploads %}
	<img class="thing-img" src="{{ upload.image.url }}" alt="" />
	{% endfor %}
{% endblock %}