{% extends 'base.html' %}
{% block title %}
	Browse - {{ block.super }}
{% endblock title %}
{% block content %}
	<h1>
		Browse Things{% if initial %} Starting with 
		'{{ initial|title }}'{% endif %}
	</h1>
	{% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
	<a href="{% url 'browse_by_name' initial=letter %}"
		{% if initial == letter %}class="active"{% endif %}>
		{{ letter|upper }}
	</a>
	{% endfor %}
	<h2>Your active things</h2>
<ul class="things-list">
{% for thing in things %}
	{% if thing.active == True %}
		<a href="{% url 'thing_detail' slug=thing.slug %}">
			<li class="things-list-item">
				<div class="thing-name">
					{{ thing.name }}
				</div>
			</li>
		</a>
	{% endif %}
{% empty %}
	<li>No active things</li>
{% endfor %}
</ul>
<h2>Your inactive things</h2>
<ul class="things-list">
{% for thing in things %}
	{% if thing.active == False %}
		<a href="{% url 'thing_detail' slug=thing.slug %}">
			<li class="things-list-item">
				<div class="thing-name">
					{{ thing.name }}
				</div>
			</li>
		</a>
	{% endif %}
{% endfor %}
</ul>
{% endblock content %}


<h2>Your active things</h2>
<ul class="things-list">
{% for thing in things %}
	{% if thing.active == True %}
		<a href="{% url 'thing_detail' slug=thing.slug %}">
			<li class="things-list-item">
				<div class="thing-name">
					{{ thing.name }}
				</div>
			</li>
		</a>
	{% endif %}
{% endfor %}
</ul>
<h2>Your inactive things</h2>
<ul class="things-list">
{% for thing in things %}
	{% if thing.active == False %}
		<a href="{% url 'thing_detail' slug=thing.slug %}">
			<li class="things-list-item">
				<div class="thing-name">
					{{ thing.name }}
				</div>
			</li>
		</a>
	{% endif %}
{% endfor %}
</ul>