body {
  font-family: 'Karla', sans-serif;
  color:#000000;
  padding:20px;
}

div.site-name {
  position:relative;
}

div.site-name a {
  text-decoration:none;
  color:#000000;
}

div.site-name a:hover {
  opacity:0.5;
}

h1 {
  font-size:3em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.5em;
}

p.caption {
  font-size:x-small;
  text-align:center;
}

div.two-img, div.one-img {
  text-align:center;
}

div.two-img img {
  max-width:45%;
}

div.one-img img {
  max-width:100%;
}

div.article-list {
  font-size:1.5em;
}