{% load staticfiles %}
<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115974764-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-115974764-1');
	</script>

	<title>
		{% block title %}
			fewerthings.me
		{% endblock title %}
	</title>
	<meta name="description" content="{% block description %}Declutter your life by prioritizing what you own{% endblock description %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="js" href="{% static 'js/all.js' %}">
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	{% block header %}{% endblock header %}
</head>
<body>
	<div class="site-name"><a href="\">fewerthings.me</a></div>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %}
			class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% block content %}{% endblock content %}
	{% block footer %}{% endblock footer %}
	<footer>

	</footer>
</body>
</html>