{% extends 'base.html' %}
{% block title %}
	Home - {{ block.super }}
{% endblock title %}

{% block content %}
	<h1>Simplify your life</h1>
	<div class="homepage-subtitle">
		<p>Take stock of what you have</p>
		<p>You have {{ number }} thing{{ number|pluralize }}</p>
	</div>
	<ul class="things-list">
	{% for thing in things %}
		<a href="{% url 'thing_detail' slug=thing.slug %}">
			<li class="things-list-item">
					<div class="thing-name">
						{{ thing.name }}
					</div>
			</li>
		</a>
	{% endfor %}
	</ul>
{% endblock content %}