{% extends 'base.html' %}
{% block title %}
	How to Declutter Your Home by Prioritizing, Not Organizing - {{ block.super }}
{% endblock title %}

{% block content %}
	<h1>How to Declutter Your Home by Prioritizing, Not Organizing</h1>
	<p>So you’re starting to feel the burden of your stuff weighing down your life. Finding things you need is becoming more and more difficult. You try organization system after organization system in hopes that a better way to store your stuff will be the key to relief. Maybe your budget is becoming strained even as you seem to have less and less free space.</p>
	<p>These are all signs it’s time to rethink what - and how much - you own.</p>
	<p>But chances are you’ve already tried, to some extent, to declutter your life. It’s understandable. Getting rid of things in your life surfaces all sorts of emotions, from anxiety, to grief, to relief. When you’re facing such a roller coaster of feelings, it’s no wonder you try to avoid it.</p>
	<h2>Why organization doesn’t work</h2>
	<p>When most people set out to declutter or simplify their space, what they’re really planning to do is reorganize it. That’s a fine goal, but you shouldn’t consider it a long-term solution to a serious clutter problem. </p>
	<p><strong>Why?</strong> Reorganizing is a temporary fix for 2 main reasons:</p>
	<ol>
		<li>You’ve haven’t <em>actually</em> changed the physical issue - only migrated or transformed it.</li>
		<li>It doesn’t address the root mental cause for owning too much stuff.</li>
	</ol>
	<div class="two-img">
		<img src="/static/images/organized-closet.jpg" alt="organized closet"/>
		<img src="/static/images/organized-closet-week-later.jpg" alt="unorganized closet"/>
	</div>
	<p class="caption">Why organization doesn’t work, in two terrible illustrations</p>
	<p>Not only is it a temporary solution, it’s also an expensive one. <a href="https://www.freedoniagroup.com/Home-Organization-Products.html">Billions</a> are spent annually in the U.S. alone on home organization products. All that money spent, just on new things to put your old things in (or on). A newly organized space enables you to feel ok buying more stuff you might not need, because now you have more places to put it.</p>
	<p>This is not to say organization is <em>bad</em>, just that it doesn’t solve the real problem. And - here’s the thing - organization is a natural byproduct of owning less stuff. When you prioritize and reduce what you keep to <em>only</em> the things you truly care about, you’ll always have a nice place for it in your home, and know exactly where to find it.</p>
	<h2>How to prioritize what you keep vs. what you don’t</h2>
	<p>As you start to go through your stuff, consider why you’re hesitating to get rid of something. It usually stems from one or more of these factors:</p>
	<ol>
		<li>You paid money for it</li>
		<li>You use it, or plan to use it in the future</li>
		<li>It was a gift or heirloom</li>
	</ol>
	<p>They all sound reasonable, but if you dig a little deeper on each one, chances are you can change your perspective on the necessity of keeping around much of your stuff.</p>
	<h3>You paid money for it</h3>
	<p>Brace yourself for a quick (behavioral) economics term: <a href="https://www.behavioraleconomics.com/mini-encyclopedia-of-be/sunk-cost-fallacy/">sunk cost</a>.</p>
	<p>People succumb to the sunk cost fallacy because they don’t want to “waste” money they’ve previously spent. But in that pursuit, they often wind up investing more into something that may never be valuable in the future.</p>
	<p>If something adds no real value to your life today, or in the foreseeable future, then there’s no way you’ll ever recoup your original expense. In fact, each thing you rarely use but keep around mainly because it was expensive contributes to a slow drain - on your free space, your mental energy, and even your finances (especially if you keep buying new ways to store it).</p>
	<div class="one-img">
		<img src="/static/images/mental-vs-financial-cost.jpg" alt="mental cost of clutter"/>
	</div>
	<p class="caption">Mental costs of clutter will outweigh financial costs over time</p>
	<h3>You use it, or plan to use it in the future</h3>
	<p>The close cousin to “it cost money” is “I’ll use this eventually.”</p>
	<p>In most cases, this is a great reason to keep something in your home - if it’s something you actually use and enjoy on a regular basis. The trouble most of us don’t use all that much stuff routinely. If you take the effort to be brutally honest with yourself about the likelihood of you using something you own anytime soon, you’ll probably notice the same.</p>
	<p>For many of our belongings, the cost to borrow, rent, or (last resort) replace it in the future is lower than you may think if it becomes totally necessary.</p>
	<h3>It was a gift or heirloom</h3>
	<p>This may be the toughest factor to face when trying to get rid of your excess stuff. It just doesn’t feel good to give away something you got from a friend or family member.</p>
	<p>What clouds the decision is that these things are tied to memories, and often powerful ones. No doubt, memories are important, but luckily they’re also not bound to physical things as much as it might feel like it.</p>
	<h2>3 quick tips to get started shedding stuff you own</h2>
	<h3>1. Calculate the cost per square foot per month of your home or apartment</h3>
	<p>Doing this can help you put some numbers behind the burden of keeping something around that you once spent money on.</p>p>
	<p>For example, a broken treadmill you intend to fix eventually could be costing you $10+ per month in floor space. Viewed from that perspective, the original investment will hopefully feel far less important.</p>
	<h3>2. Take it out and put it in plain site. If you don’t wear it in a week, get rid of it.</h3>
	<p>Things like clothes, books, DVDs, etc. are often victims of a cluttered home. After all, it’s hard to use what we can’t find. However this excuse is only valid for things we actually <em>want</em> to use.</p>
	<p>So, to figure out if something is languishing at the back of a closet because you don’t actually like it that much, try taking it out into the open and keeping it there for a while - a week or two maybe. If you use it in that time period, go ahead and put it back in a better spot where it’s more accessible. If you don’t, it’s time to get rid of it.</p>
	<h3>3. Ask for experience gifts over physical gifts</h3>
	<p>If guilt from unused gifts is holding you back from getting rid of much of your clutter, then try involving your friends and family instead of going it alone. Suggest that everyone give more “<em>experience</em>” gifts instead of physical gifts.</p>
	<p>Concert tickets instead of a band t-shirt. Wine tasting instead of wine glasses. You get the idea.</p>
	<p>Not only will it save you on space, but experience gifts are often the ones that turn out to be more meaningful and memorable over time.</p>
{% endblock content %}